$image-width: 20%;
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: $card-gap;
  row-gap: 0;
  @include breakpoint("small") {
    margin-right: -#{$card-gap}; // компенсируем последний gap
  }
}

.card {
  @include border-radius($card-radius);
  margin-bottom: $card-margin-bottom;
  box-sizing: border-box;

  // Определяем ширину карточек для различных экранов
  width: 100%; // По умолчанию для маленьких экранов

  @include breakpoint("small") {
    width: calc(50% - #{$card-gap}); // Для средних экранов
  }

//   @include breakpoint("large") {
//     width: calc(33% - #{$card-gap}); // Для средних экранов
//   }

  .card-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: var(--font-family-heading);
  }

  .card-body p {
    font-size: $paragraph-font-size-small;
  }

  .card-link {
    text-decoration: none;
    color: inherit;

    &:hover .card-header {
      text-decoration: underline;
    }
  }

  &:hover .card-image img {
    filter: opacity(100%);
  }

  .card-image {
    margin-top: 15px;
    margin-bottom: 10px;
    img {
      height: 200px;
      width: auto;
      margin: 0;
      object-fit: cover;
      filter: opacity(80%); // Устанавливаем яркость по умолчанию
      transition: filter 0.3s; // Добавляем плавный переход
    }
  }
}
