a {
  color: var(--highlight-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-family: var(--font-family-heading);
}
p {
  color: var(--text-color);
  font-family: var(--font-family-paragraph);
  font-size: 18px;
  line-height: 24px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

.content {
  font-size: 22px;
  p {
    font-size: 22px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.6;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
    @include breakpoint("small") {
      font-size: 30px;
      line-height: 1.4;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul {
    list-style: disc;
    li {
      list-style: disc;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
  ul,
  ol {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      line-height: 1.2em;
      margin-bottom: 10px;
      margin-left: 10px;
      @include breakpoint("small") {
        margin-left: 20px;
      }
      &::marker {
        color: var(--dot-color);
      }
    }
    @include breakpoint("small") {
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
    }
  }
  blockquote {
    border-left: 5px solid var(--highlight-color);
    margin: 30px 0;
    padding: 20px;
  }
  blockquote p {
    font-size: 24px;
    display: inline;
    color: var(--color-base-text);
  }
  img {
    margin: 40px 0 40px 0;
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 2.6rem 0 1.18rem;
    img {
      margin: 0;
    }
    figcaption {
      margin-top: 10px;
      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
  code,
  pre {
    font-family: var(--font-family-monospace);
  }
  .highlight {
    pre {
      border-radius: 3px;
      font-size: 14px;
      line-height: 18px;
      padding: 30px;
      overflow: auto;
      font-family: var(--font-family-monospace);
    }
  }
}

.dot {
  color: var(--dot-color);
}

.footnotes {
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin shadow {
  $dark-highlight-color: darken($highlight-color, 40%);
  box-shadow:
    0 10px 15px rgba($dark-highlight-color, 0.15),
    0 20px 30px rgba($dark-highlight-color, 0.2),
    0 30px 40px rgba($dark-highlight-color, 0.25);
  box-shadow:
    rgba($dark-highlight-color, 0.1) 0px 8px 24px,
    rgba($dark-highlight-color, 0.1) 0px 16px 56px,
    rgba($dark-highlight-color, 0.1) 0px 24px 80px;
}

$image-width: 20%;
.service {
  display: flex;
  margin-bottom: $card-margin-bottom;
  text-decoration: none;
  background-color: #fff;
  padding: $card-padding;
  border-radius: $card-radius;
  color: inherit;

  .service-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
    flex-direction: column;

    &:hover .service-header {
      text-decoration: underline;
    }

    &:hover .service-image img {
      filter: opacity(100%);
    }

    .service-image {
      width: $image-width;
      margin: auto;
      margin-top: 15px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: opacity(90%); // Устанавливаем яркость по умолчанию
        transition: filter 0.3s; // Добавляем плавный переход
      }
    }

    .service-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .service-header {
        font-weight: bold;
        text-align: center; // Выравниваем заголовок по центру на маленьких экранах
        color: $highlight-color;
        font-size: 2.5em;
        margin-bottom: 15px;
        margin-top: 0;
      }

      .service-body {
        p {
          margin: 0; // Убираем стандартные отступы у параграфов
        }
      }
    }
  }

  @include breakpoint("small") {
    flex-direction: row; // Меняем направление флекс-контейнера на горизонтальное

    .service-link {
      flex-direction: row; // Меняем направление флекс-контейнера на горизонтальное

      .service-image {
        flex: 0 0 $image-width;
        width: $image-width;
        margin-bottom: 0; // Убираем отступ снизу
        margin-top: 0;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .service-content {
        .service-header {
          text-align: left; // Выравниваем заголовок слева на больших экранах
        }
      }
    }
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: $card-gap;
  row-gap: 0;
  margin-bottom: $card-margin-bottom;
}

.card {
  background: linear-gradient(135deg, $dot-color 0%, darken($dot-color, 10%) 100%);
  @include border-radius($card-radius);
  padding: $card-padding;
  color: white;
  margin-bottom: $card-margin-bottom;
  box-sizing: border-box;
  @include shadow;

  // Определяем ширину карточек для различных экранов
  width: 100%; // По умолчанию для маленьких экранов

  @include breakpoint('medium') {
    width: calc(50% - #{$card-gap}); // Для средних экранов
  }

  &-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: var(--font-family-heading);
  }

  &-body {
    font-size: 0.9em;
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin: 10px 0;
  }
}

.shadow {
  @include shadow;
}

img {
  @include border-radius($card-radius);
}

.block {
  background: $block-bg-color;
  @include border-radius($card-radius);

  &-body {
    padding: $card-padding;
  }
}
