$font-family-heading: {{ .Site.Params.fontFamilyHeading | default "'Poppins', sans-serif" }};
$font-family-paragraph: {{ .Site.Params.fontFamilyParagraph | default "'Helvetica', sans-serif" }};
$font-family-monospace: {{ .Site.Params.fontFamilyMonospace | default "monospace" }};
$base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
$base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
$highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
$heading-color: {{ .Site.Params.headingColor | default "#1c1b1d" }};
$text-color: {{ .Site.Params.textColor | default "#4e5157" }};
$dot-color: {{ .Site.Params.dotColor | default "#7b16ff" }};

:root {
  --font-family-heading: #{$font-family-heading};
  --font-family-paragraph: #{$font-family-paragraph};
  --font-family-monospace: #{$font-family-monospace};
  --base-color: #{$base-color};
  --base-offset-color: #{$base-offset-color};
  --highlight-color: #{$highlight-color};
  --heading-color: #{$heading-color};
  --text-color: #{$text-color};
  --dot-color: #{$dot-color};
}

$card-radius: 22px;
$card-padding: 30px;
$card-margin-bottom: 40px;
$card-gap: 60px;
$body-padding: 20px;
$paragraph-font-size: 20px;
$paragraph-font-size-small: 18px;
$block-bg-color: #{$base-offset-color};


$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@mixin shadow {
  box-shadow:
    rgba($text-color, 0.1) 0px 8px 24px,
    rgba($text-color, 0.1) 0px 16px 56px,
    rgba($text-color, 0.1) 0px 24px 80px;
}

.shadow {
  @include shadow;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'cta';
@import 'card';
@import 'pygments/github';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: $body-padding;
  overflow-x: hidden;

  @include breakpoint('small') {
    padding: 50px;
    
    &.frame {
      min-height: 100vh;
      border: 18px solid var(--highlight-color);
      
    }
  }
}


.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

iframe {
  border-radius: $card-radius;
}

img {
  @include border-radius($card-radius);
}
