<div class="footer">
  {{ if .Site.Params.motto }}
  <div class="motto">
    {{ .Site.Params.motto }}
  </div>
  {{ end}}
  {{ if .Site.Params.footerMenu }}
  <div class="menu-main">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
      
      {{/* Специальная логика для кнопок переключения языка */}}
      {{ if or (eq .Identifier "ru") (eq .Identifier "en") }}
        {{ $active = false }}
        {{ if eq .Identifier "ru" }}
          {{ $active = eq $currentPage.Lang "ru" }}
        {{ else if eq .Identifier "en" }}
          {{ $active = eq $currentPage.Lang "en" }}
        {{ end }}
      {{ end }}
      
      <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  {{ end }}
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
      <span class="social-icon social-icon-{{ .name | urlize }}">
        <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
          <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
        </a>
      </span>
    {{ end }}
  </div>
  {{ end }}
  <div class="footer-copyright">
    <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
  </div>
</div>
